[submodule "libraries/Windows/glfw"]
	path = libraries/Windows/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libraries/Common/glm"]
	path = libraries/Common/glm
	url = https://github.com/g-truc/glm.git
