[submodule "libraries/windows/glfw"]
	path = libraries/windows/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libraries/common/glm"]
	path = libraries/common/glm
	url = https://github.com/g-truc/glm.git
