[submodule "libraries/Windows/glfw"]
	path = libraries/Windows/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libraries/Common/glm"]
	path = libraries/Common/glm
	url = https://github.com/g-truc/glm.git
[submodule "libraries/Windows/ffmpeg"]
	path = libraries/Windows/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "libraries/Common/fpm"]
	path = libraries/Common/fpm
	url = https://github.com/MikeLankamp/fpm.git
